@import "reset.css";
@import "components/avatar.css";
@import "components/button.css";
@import "components/card.css";
@import "components/badge.css";
@import "components/blog.css";
@import "components/hero.css";
@import "components/social.css";
@import "shared/navigation.css";
@import "shared/footer.css";
@import "pages/post.css";

:root {
  --color-cornsilk: #fefae0;
  --color-penn-red: #ad1400;
  --color-YInMn-blue: #05528f;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  background-color: var(--color-cornsilk);
  color: var(--color-black);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-YInMn-blue);
}

a:hover {
  color: var(--color-YInMn-blue);
  text-decoration: underline;
}

.container {
  margin-inline: auto;
  max-width: 85vw;
  width: min(90vw, 85rem);
}
