.badge__container {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.badge {
  color: var(--color-penn-red);
  border: 1px solid var(--color-penn-red);
  border-radius: 9999px;
  padding: 0.2rem 1rem;
}
