.post {
  display: grid;
  grid-template-areas:
    "content"
    "aside";
  gap: 6rem;
  padding: 4rem 0;
}

@media (min-width: 768px) {
  .post {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "content content content content aside aside aside aside";
  }
}

.post__container {
  grid-area: content;
}

.post__container p,
.post__container q {
  margin-bottom: 2rem;
}

.post__quote {
  font-size: 1.2rem;
  margin: 3rem 0;
  font-weight: 500;
}

.post__sidebar {
  grid-area: aside;
}

.post__title {
  font-size: 2.5rem;
  margin-bottom: 4rem;
  max-width: 25ch;
}

.post__info {
  display: flex;
  gap: 2rem;
}

.post__sidebar .avatar {
  margin-bottom: 2rem;
}

.post__copy {
  max-width: 25ch;
  margin-bottom: 2rem;
}

.post__info strong {
  font-weight: 600;
}

.post__image {
  margin-bottom: 2rem;
}

.post__caption {
  font-size: 0.875rem;
  margin: 0.5rem 0;
}

.related {
  border: 1px solid;
  border-radius: 12px;
  padding: 1.5rem 1.5rem;
  margin-top: 2rem;
}

.related__list {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}

.related__list li {
  padding: 1rem 0;
  border-bottom: 1px solid;
}

.related__list li:first-child {
  padding-top: 0;
}

.related__list li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.related .button {
  display: block;
  margin: 0.5rem 0;
  text-align: center;
  width: 100%;
}
